{% extends "restaurant/base.html" %}
{% block content %}
<div class="hero-image">
    <div class="hero-text">
        <h1 class="abril-font-reg-400"> Our Menu </h1>
    </div>
</div>
<div class="container">
    {% for category, items in menu.items %}
        <h2 class="abril-font-reg-400 py-5"> {{ category }}</h2>
        <div class="row card-deck">
            {% for item in items %}

                <div class="col-md-4 p-0" style="width: 18rem;">
                    <div class="p-0 border m-2 b-radius">
                        <img class="card-img-top" src="{{item.picture.url}}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ item.name }}</h5>
                            <h5 class="card-title">{{ item.price }}</h5>
                            <p class="card-text">{{ item.description }}</p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-primary">Add to Cart</a>
                        </div>
                    </div>

                </div>
            {% endfor %}
        </div>

    {% endfor %}
</div>

{% endblock content %}